body{
    background: url("../images/ciel.png") repeat-x;
    background-size: auto 100vh;
    margin: 0;
}

#paysage{
    background: url("../images/paysage.png") repeat-x;
    position: fixed;
    bottom: 71px;
    height: 283px;
    width: 100%;
}

#sol-bas{
    background: url("../images/sol.png") repeat-x;
    position: fixed;
    bottom: 0;
    height: 74px;
    width: 100%;
}

#sol-haut{
    background: url("../images/sol2.png") repeat-x;
    position: fixed;
    bottom: 71px;
    height: 72px;
    width: 100%;
}

#mario{
    background: url("../images/mario.png");
    height: 42px;
    width: 30px;
    background-position-x: -3px;
    position: absolute;
    bottom: 68px;
    left: 50%;
}
.mario-droite{
    animation: mario 0.5s steps(25) infinite;  
}
.mario-gauche{
    animation: mario 0.5s steps(25) infinite;
    transform: translateX(-50%) scaleX(-1);
}


@keyframes mario{
    100%{
        background-position-x: -1005px;
    }
}